body {
    background-color: rgb(255, 39, 39);
}

@font-face {
    font-family: 'formula1';
    src: URL('font/Formula1-Regular.ttf') format("truetype");
}

.top-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    position: absolute;
    background-color: #333;
    overflow: hidden;
    align-items: center;
}

.logo {
    margin-left: 20px;
    width: 150px;
    height: inherit;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;
}

.container-top {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 30px;
    position: relative;
}

.top-menu a {
    float: left;
    position: relative;
    width: 120px;
    height: 20%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    margin-left: 40px;
    font-family: formula1;
}

.top-menu a:hover {
background-color: #ddd;
color: black;
}

.net-gp {
    background-color: #cfeaff;
    margin-top: 150px;
    width: 100%;
    height: 300px;
    border-radius: 90px;
}

.event-info {
    float: left;
    width: 35%;
    height: 100%;
    font-family: formula1;
    font-size: 23px;
    text-align: center;
    margin-left: 50px;
}

.track-name {
    width: 100%;
    height: 40%;
}

.info-text {
    position: inherit;
    padding-top: 23px;
}

.track-image {
    float: left;
    width: 500px;
    height: 100%;
}

.track-image img {
    width: 100%;
    height: 100%;
}

.country-name {
    width: 100%;
    height: 40%;
    font-family: formula1;
    font-size: 23px;
    text-align: center;
}

.track-times {
    float: left;
    width: 30%;
    height: 100%;
}

.track-times .sessions {
    width: 100%;
    height: 10%;
    margin-top: 25px;
    font-family: formula1;
    font-size: 23px;
    color: black;
    text-align: center;
}

.time-left {
    width: 70%;
    height: 150px;
    background-color: green;
    margin-left: 15%;
    margin-top: 20px;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
}

.time-left .time{
    float: left;
    position: inherit;
    width: 15%;
    height: 100%;
    border-color: white;
    margin-left: 40px;
    text-align: center;
}

.time-left .time .text-time {
    font-family: formula1;
    font-size: 20px;
    color: white;
    margin-top: 30%;
}