body {
    background-color: rgb(255, 39, 39);
}

@font-face {
    font-family: 'formula1';
    src: URL('../font/Formula1-Regular.ttf') format("truetype");
}

.top-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    position: absolute;
    background-color: #333;
    overflow: hidden;
    align-items: center;
}

.logo {
    margin-left: 20px;
    width: 150px;
    height: inherit;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;
}

.container-top {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 30px;
    position: relative;
}

.top-menu a {
    float: left;
    position: relative;
    width: 120px;
    height: 20%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
    margin-left: 40px;
    font-family: formula1;
}

.top-menu a:hover {
    background-color: #ddd;
    color: black;
}

.text-driver-select {
    margin-top: 140px;
    margin-bottom: 20px;
    text-align: center;
    font-family: formula1;
    font-size: 30px;
    color: white;
}

.driver-select {
    width: 100%;
    height: 550px;
    background-color: white;
    border-radius: 40px;
}

.driver-select .driver-self {
    float: left;
    margin-left: 7%;
    margin-top: 2%;
    width: 120px;
    height: 120px;
    border-color: red;
    border-style: solid;
    text-align: center;
    transition: background-color 200ms;
}

.driver-self img {
    width: 100%;
    height: 100%;
}

.driver-self img:hover {
    background-color: grey;
    cursor: pointer;
}

.text-session-select {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: formula1;
    font-size: 30px;
    color: white;
}

.session-select {
    width: 70%;
    margin-top: 20px;
    margin-left: 14%;
    height: 150px;
    border-radius: 10px;
}

.session-select .session-self {
    float: left;
    width: 150px;
    height: 100%;
    margin-left: 90px;
    text-align: center;
    font-family: formula1;
    background-color: white;
    font-size: 30px;
    color: black;
    border-radius: 50px;
}

.session-self:hover {
    cursor: pointer;
}

.session-self p {
    margin-top: 35%;
}

#laps-button {
    width: 250px;
    height: 100px;
    font-size: 24px;
    font-family: formula1;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 42%;
    margin-top: 30px;
}

#laps-button:active {
    background-color: #c5c5c5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.error-box {
    width: 600px;
    height: 15px;
    margin-left: 35%;
    margin-top: 15px;
    font-family: formula1;
    font-size: 20px;
    color: white;
    visibility: hidden;
}

.driver-laps-cont {
    width: 100%;
    height: 1000px;
    display: none;
    float: left;
}

.driver-laps-cont .driver-laps {
    float: left;
    width: 47%;
    height: 1600px;
    background-color: white;
    margin-top: 3%;
    margin-left: 2%;
    border-style: solid;
    border-radius: 30px;
}

.driver-laps-cont .driver-laps .driver-name {
    width: 100%;
    height: 35px;
    text-align: center;
    margin-top: 2%;
}

.driver-laps-cont .driver-laps .driver-name p {
    font-size: 17px;
    font-family: formula1;
    color: white;
    padding-top: 8px;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
    height: 3px;
    border: none;
    background-color: black;
    margin-bottom: 10px;
}

.lap-data {
    width: 97%;
    height: 50px;
    margin-left: 1%;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 1px;
}

.number-lap {
    float: left;
    width: 5%;
    height: 100%;
    margin-left: 15px;
}

.lap-time {
    float: left;
    width: 28%;
    height: 100%;
    margin-left: 15px;
}

.s1 {
    float: left;
    width: 12%;
    height: 100%;
    margin-left: 15px;
}

.s2 {
    float: left;
    width: 12%;
    height: 100%;
    margin-left: 15px;
}

.s3 {
    float: left;
    width: 12%;
    height: 100%;
    margin-left: 15px;
}

.comp {
    float: left;
    width: 5%;
    height: 100%;
    margin-left: 15px;
}

.stint {
    float: left;
    width: 5%;
    height: 100%;
    margin-left: 15px;
}

.tyre-life {
    float: left;
    width: 5%;
    height: 100%;
    margin-left: 15px;
}

.lap-data p {
    text-align: center;
    font-size: 15px;
    font-family: formula1;
    color: black;
}

.lap-data img {
    width: 100%;
    height: 100%;
}

.loader {
    margin-left: 46%;
    margin-top: 10px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}